
.container-estacionamentos {
    display: flex;
    height: 100vh;
  }
  
.segundoContainerEstacionamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.primeiroTituloEstacionamentos{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: #C76138;
    text-align: center;
    width: 20%;
    margin-top: 3%;
    position: relative;
}

.flutuantesEstacionamentos{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    gap: 10%;
}

.flutuanteEstacionamento1{
    display: inline-block;
    width: 70%;
    height: 35%;
    border-radius: 1rem;
    position: relative;
}

.PerfilEstacionamento{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 40%;
    border-radius: 0 1rem 1rem 0;
}

.EstacionamentoNome {
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 84%;
    left: 2%;
    color: #515921;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 35%;
    height: 15%;
}

.EstacionamentoEndereco {
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 76%;
    left: 3.5%;
    text-align: right;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    width: 35%;
    height: 12%;
}
.EstacionamentoTelefone{
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 65%;
    left: 28%;
    text-align: left;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    width: 11%;
    height: 7%;
}
.VagasComum{
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 25%;
    left: 21.7%;
    text-align: right;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    width: 18%;
    line-height: normal;
}

.VagasPCD{
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 18%;
    left: 20.5%;
    text-align: right;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    width: 18%;
    line-height: normal;
}

.VagasCargo{
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom: 10%;
    left: 15.7%;
    text-align: right;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    width: 23%;
    line-height: normal;
}

.TipoVaga{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 15%;
    border-radius: 1rem;
    background: #F5F5F5;
    bottom: -10%;
    left: 60%;
    cursor: pointer;
    margin-bottom: 3%;
}
.TituloTipoVaga{
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 1rem;
}
.VagasComum2 {
    background: #F5F5F5;
    color: #515921;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.VagasPCD2{
    background: #F5F5F5;
    color: #515921;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.VagasCargo2{
    background: #F5F5F5;
    color: #515921;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 1rem;
    cursor: pointer;
}
.button-reservar{
    
    width: 92px;
    height: 25px;
    
}
.Reservar{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    bottom: 2%;
    left: 76%;
    background-color: rgba(199, 97, 56, 1);
    border-radius: 5px;
    width: 92px;
    height: 25px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    line-height: normal;
    align-items: center;
   
}
.flutuanteEstacionamento2{
    display: flex;
    width: 70%;
    height: 35vh;
    border-radius: 1rem;
}

.selectTipoVaga {
    background: #F5F5F5;
    color: #515921;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}